
@{
    ViewBag.Title = "AccountLocked";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}
<style>
    .content {
        margin-top: 60px;
    }
</style>
<div class="content">
    <h2>AccountLocked</h2>
</div>
